.site-title{
    padding-right: 20px;
    line-height: 0.8;
    font-weight: bold;
    font-size: 4.9rem;
}

.cats>.button{
    margin-bottom: 0.5rem;
}   

.footer>.button-clear{
    padding: 0 0.5rem;
}

.error{
    color: red;
}
